header{
    background: #BBBBBB;
    padding: 20px 0;/* espaço em cima e embaixo de cabeçalho - espaçamento interno*/
}

.caixa{
    position:absolute;
    width: 940px;/*largura da caixa*/
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    
}
nav 1