header{
    background: #BBBBBB;
    padding: 20px 0;/* espaço em cima e embaixo de cabeçalho - espaçamento interno*/
}

.caixa{
    position:relative;
    width: 940px;/*largura da caixa*/
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    
}
nav li{
    display: inline ;
    margin: 0 0 0 15px;/*espaçamento extern*/
}

nav a{
    text-transform: uppercase;/*letras maiúscula*/
    color: #df57d86b;/* cor das letras rosas*/
    font-weight: bold; /*fonte nergrito*/
    font-size: 22px; /*tamanho a fonte*/
    text-decoration: none;/* retirar o sublinado do texto*/
}
